/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
    --ifm-navbar-height: 80px;
}

.feature_link {
    /* this is to set the colour of the fonts */
    color: var(--ifm-font-color-base);

    /* to get the section label, paragraph, and image all centered */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature_image {
    /* consistent smaller size for feature images */
    height: 7rem !important;
    width: 7rem !important;
}

/* to make it fit content not the box */
nav {
    box-sizing: content-box;
}

/* change the nav bar styling */
.navbar {
    --ifm-navbar-background-color: #212529;
    padding: 0.5rem 0rem;
    align-content: center;

    /* to make the colour of the collapsable always dark*/
    /* the collapsable doesnt follow the `always dark mode` rule*/
    color: rgb(245, 246, 247);
}

/* padding for the brand on normal bar */
.navbar__brand {
    padding: 1rem 0rem;
    padding-left: 1rem;
}

/* padding for right side of normal nav bar */
.navbar__items--right {
    padding-right: 0.5rem;
}

/* setting logo height to match the CSS hub */
.navbar__logo {
    height: 4.32rem;
}

/* side bar header height */
.navbar-sidebar__brand {
    height: calc(var(--ifm-navbar-height) + 1rem);
}

/* padding for the brand on the side bar */
.navbar-sidebar .navbar__brand {
    padding: 1rem 0rem;
    padding-left: 1rem;
}

/* to keep dark mode colours while in mobile mode*/
/* it doesnt follow darkmode always rules while side panel*/
.navbar-sidebar__items .menu .menu__list .menu__list-item .menu__link {
    color: rgb(245, 246, 247) !important;
}

/* Github logo */
.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.header-github-link:hover {
    opacity: 0.6;
}

.header-github-link:before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
        no-repeat;
}

/* navbar automatically wraps itself as the viewport isnt large enough for thea
 * whole navbar. changing `flex-wrap` to nowrap fixes it.
*/
.navbar__inner {
    flex-wrap: nowrap;
}

/* hamburger menu */
.navbar__toggle {
    margin-left: 1rem;
}

/* Search Bar config in light mode */
:root {
    --aa-primary-color-rgb: 27, 27, 29 !important;
    --aa-muted-color-rgb: 27, 27, 29 !important;
    --aa-description-highlight-background-color-rgb: 27, 27, 29 !important;
    --aa-selected-color-rgb: 255, 255, 255 !important;
    --aa-input-border-color-rgb: 27, 27, 29 !important;
}

/* Search Bar config in dark mode */
[data-theme="dark"] {
    --aa-primary-color-rgb: 198, 232, 240 !important;
    --aa-muted-color-rgb: 198, 232, 240 !important;
    --aa-selected-color-rgb: 27, 27, 29 !important; /* Background of selected result when searching */
    --aa-background-color-rgb: 27, 27, 29 !important;
    --aa-input-border-color-rgb: 198, 232, 240 !important;
}

/* makes sure that the icon is visible in the toggle button */
button.clean-btn:hover {
    background-color: rgb(100, 100, 100);
}
